<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" type="text/css" href="styles.css">-->


    <title>HomePage ETL</title>
</head>
    <h1>Available Routes:</h1>
<body>
    <ul>
        <li>Get All the quotes</li>
        <li>Get All the authors</li>
        <li>Get a oarticular Author (Albert Einstein)</li>
        <li>Get All the tags</li>
        <li>Get a particular tag (Love for example)</li>
        <li>Get Top 10 Tags</li>
    </ul>
</body>
</html>