<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" type="text/css" href="styles.css">-->


    <title>HomePage ETL</title>
</head>
    <h1>Available Routes:</h1>
<body>
    <ul>
        <li><a href="http://127.0.0.1:5000/quotes"
            target="_blank">Get All Quotes</a></li>
        <li><a href="http://127.0.0.1:5000/authors"
            target="_blank">Get All Authors</a></li>
        <li><a href="http://127.0.0.1:5000/authors/Albert Einstein"
            target="_blank">Get a particular Author (Albert Einstein)</a></li>
        <li><a href="http://127.0.0.1:5000/tags"
            target="_blank">Get All the tags</a></li>
        <li><a href="http://127.0.0.1:5000/tags/love"
            target="_blank">Get a particular tag (Love for example)</a></li>
        <li><a 
            href="http://127.0.0.1:5000/top10tags" 
            target="_blank">Get Top 10 Tags</a></li>
    </ul>
</body>
</html>




